<!doctype html>
<html>
<head>
    <title><%= locals.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Company Web Solutions">
    <meta name="keywords" content="Company Web Solutions">
    <meta name="google-site-verification" content="Ds1B_q-GkVb3HO1HXlW2ap4Tt8qGvBbWcCNgtstn1sk" />
    <link href="/public/css/core.min.css" rel="stylesheet">
    <link href="/public/css/thesaas.min.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">
    <style type="text/css" media="screen">
        .btn-glass{
            background-color: rgba(0,0,0, 0.3) !important; 
            border: 1px solid whitesmoke !important; 
            color: whitesmoke !important;
        }

        .btn-glass:hover{
            background-color: white !important; 
            border: 1px solid whitesmoke !important; 
            color: #a55757 !important;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="padding:0px;">
	<!-- THIS IS THE BANNER -->
	<%- include("templates/header.ejs") %>
	<!-- END BANNER -->

	<!-- THIS IS THE NAVBAR -->
	<%- include("../templates/navbar.ejs") %>

    <!-- THIS IS THE ABOUT US SECTION -->
	<%- include("templates/about-us.ejs") %>
    <!-- // END OF ABOUT US SECTION -->

    <section class="section section-inverse cta-register" style="background-image: url(public/images/services-banner.jpg)" data-overlay="6">
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 class="mb-0 text-warning">SERVICES WE OFFERS</h4><br>

                <div class="hidden-sm-down">
                    <a class="btn btn-outline pt-10 mr-2 btn-glass" href="#" data-scrollto="contact-us">
                    Contact Us
                    </a>
                    <a class="btn btn-outline pt-10 mr-2 btn-glass" href="#" data-scrollto="services">
                    Check Services
                    </a>
                </div>

                <div class="hidden-sm-up">
                    <a class="btn btn-block pt-10 mr-2 btn-glass" href="#" data-scrollto="contact-us">
                    Contact Us
                    </a><br>
                    <a class="btn btn-block pt-10 mr-2 btn-glass" href="#" data-scrollto="services">
                    Check Services
                    </a>
                </div>
                
            </div>
        </div>
    </section>

    <!-- THIS IS THE ABOUT US SECTION -->
    <%- include("templates/services.ejs") %>
    <!-- // END OF ABOUT US SECTION -->

    <section class="section section-inverse cta-register" style="background-image: url(public/images/book-now2.jpg)" data-overlay="6">
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 class="mb-0 text-warning">DO YOU WANT TO SCHEDULE APPOINTMENT?</h4><br>
                <div class="hidden-sm-down">
                    <a class="btn btn-outline pt-10 mr-2 btn-glass" href="#" data-scrollto="contact-us">Contact Us
                    </a>
                    <a class="btn btn-outline pt-10 mr-2 btn-glass" href="/appointments">Book Now</a>
                </div>

                <div class="hidden-sm-up">
                    <a class="btn btn-outline pt-10 mr-2 btn-glass btn-block" href="#" data-scrollto="contact-us">Contact Us</a><br>
                    <a class="btn btn-outline pt-10 mr-2 btn-glass btn-block" href="/appointments">Book Now</a>
                </div>
                
            </div>
        </div>
    </section>

    <!-- THIS IS THE CONTACT US SECTION -->
    <%- include("templates/contact-us.ejs") %>
    <!-- // END OF THE CONTACT US SECTION -->
</div>
<%- include("../templates/footer.ejs") %>
<script src="/public/javascript/core.min.js"></script>
<script src="/public/javascript/thesaas.min.js"></script>
</body>
</html>