
<!doctype html>
<html>
<head>
	<title><%= locals.title %> - Appointments</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Company Web Solutions">
	<meta name="keywords" content="Company Web Solutions">
	<link href="/public/css/core.min.css" rel="stylesheet">
	<link href="/public/css/thesaas.min.css" rel="stylesheet">
	<link href="/public/css/styles.css" rel="stylesheet">
	<link href='/public/javascript/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
	<link href='/public/javascript/fullcalendar/fullcalendar.css' rel='stylesheet' />
	<link href='/css/jquery.datetimepicker.css' rel='stylesheet' />
	<style>  
	  .fc-scroller,
	  .fc-day-grid-container,    /* these divs might be assigned height, which we need to cleared */
	  .fc-time-grid-container {  /* */
	    overflow: visible !important;
	    height: auto !important;
	  }

	  #calendar {
	    border-style: solid 1px gray;
	    border-radius: 10px;
	  }

	  .nav-outline .nav-link {
	    border: 3px solid #ffffff;
	    text-align: center;
	    background-color: #ffffff; 
	  }

	  .nav-outline .nav-link.active, .nav-outline .nav-link:hover {
	    background-color: #02b2e2;
	  }

	</style>
</head>
<body>
	<div class="container-fluid bg-gray" style="padding:0px;">
		<!-- THIS IS THE NAVBAR -->
		<%- include("../templates/navbar.ejs") %>

		<!-- Header -->
		<header class="header header-inverse" style="background-image: url(/public/images/teen-patient.jpg);">
			<div class="overlay" style="background-color: #000; position: absolute; height: 100%; top: 0; right: 0; bottom: 0; left: 0; opacity: 0.7;"></div>
			<div class="container text-center">

				<div class="row">
					<div class="col-12 col-lg-8 offset-lg-2">
						<h2 class="text-warning">Appointment Details<!-- Fitness options--> </h2>
						<br>
						<p class="fs-20 opacity-70">"Check out appointments for this upcoming months or weeks".</p>
					</div>
				</div>

			</div>
		</header>
		<!-- END Header -->

		<div class="container-fluid px-md-5 py-40 pb-40">
			<div class="row px-md-5">
				<div class="col-md-9 card py-40 px-20">
					<h3 class="text-primary">Appointment Calendar</h3>

					<div id='calendar'></div>

					<div id="fullCalModalDescription" class="modal fade">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header pb-2" style="background-color: #02b2e2">
					        <h6 class="text-white">Appointment Details</h6>
					        <button type="button" class="close text-white" style="cursor: pointer;" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Close</span></button>
					      </div>
					      <div class="modal-body">
					        <div>
					          <h4> <span id="eventTitle" class="modal-title"></span> </h4>
					        </div> | <strong>ID: </strong><span id="eventID"></span><hr>
					        <p>
					          <strong>Schedule: </strong> 
					          <span id="eventStart" class="fw-500"></span> to <span id="eventEnd" class="fw-500"></span>
					        </p>
					        <p>
					          <strong>Patient: </strong> 
					          <a href="" id="eventDetails" class="fw-600"><span id="eventPatient"></span></a>
					        </p>
					        <p id="eventDescription"></p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-sm" style="cursor: pointer;" data-dismiss="modal"><span aria-hidden="true">Close</span></button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>


				<header class="col-md-3 card py-20 pl-20 header header-inverse site-footer" style="border-left: solid 2px #00bcd4; background-image: url(public/images/contact-us.jpg); color: whitesmoke !important;">
					<div class="overlay" style="background-color: #000; position: absolute; height: 100%; top: 0; right: 0; bottom: 0; left: 0; opacity: 0.75;"></div>
					
					<div class="container">
						<h5 class="fs-20"><i class="fa fa-calendar"></i> Daily Appointments Summary | <a href="/patients/list" class="text-danger fs-16">View Patient Lists</a></h5>
						<dl><hr>
							<% appointments.forEach(function(appointment){%>
								<% if(appointment.bookedClients.bookedClient){ 
										var week = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
										var today = new Date();
										var startAppointment = new Date(appointment.start);
										var endAppointment = new Date(appointment.end);
									%>

									<% if(startAppointment.getDay() == today.getDay() && startAppointment.getDate() == today.getDate()){ %>
										<dd><i class="fa fa-user"></i> <strong class="lead pl-1">
											<% 
												var start = appointment.start.split(' '); 
												var end = appointment.end.split(' ');
											%>

											<%= appointment.bookedClients.bookedClient.name %></strong><br>
											<span class="pl-md-3"><%= appointment.title %></span><br>
											<span class="pl-md-3"><%= start[1] + ' ' + start[2] %> - <%= end[1] + ' ' + end[2]  %></span> : <%= week[startAppointment.getDay()] %><hr>
										</dd>
									<%}%>
								<%}%>
							<%})%>
						</dl>

						<small>Click Book Appointment to book a client to calendar. The client will be notified through their provided email address about their schedule.</small>
						<br><br>
						<a href="/appointments/create" class="btn btn-block btn-primary">Schedule an Appointment </a>
					</div>
				</header>


			</div>
		</div>	<br><br>
	</div>

	<%- include("../templates/footer.ejs") %>
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/public/javascript/clientClasses/appointment-calendar.js"></script>
	<% var appointmentData = [];
	   appointments.forEach(function(appointment){
	     appointmentData.push(appointment);
	   });
	 %>
	<script>
		$(document).ready(function(dataSource) {
			getCalendarData(<%- JSON.stringify(appointmentData) %>);
		});
	</script>
	<script src="/public/javascript/core.min.js"></script>
	<script src="/public/javascript/thesaas.min.js"></script>
	<script src='/public/javascript/fullcalendar/lib/moment.min.js'></script>
	<script src='/public/javascript/fullcalendar/fullcalendar.js'></script>
	<script src="/js/build/jquery.datetimepicker.full.min.js"></script>
</body>
</html>

