 
<!doctype html>
<html>
<head>
  <title><%= locals.title %> - Create Appointment</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Company Web Solutions">
  <meta name="keywords" content="Company Web Solutions">
  <link href="/public/css/core.min.css" rel="stylesheet">
  <link href="/public/css/thesaas.min.css" rel="stylesheet">
  <link href="/public/css/styles.css" rel="stylesheet">
  <link href='/css/jquery.datetimepicker.css' rel='stylesheet' />
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      // DATETIMEPICKER FOR CREATING NEW EVENT OR SESSION
      $('#eventStart input').datetimepicker({ step:30, format: 'Y/m/d g:i A', formatTime: 'g:i A', validateOnBlur: false, });
      $('#eventEnd input').datetimepicker({ step:30, format: 'Y/m/d g:i A', formatTime: 'g:i A', validateOnBlur: false, });
    })
  </script>
</head>
<body>
  <div class="container-fluid bg-gray" style="padding:0px;">
    <!-- THIS IS THE NAVBAR -->
    <%- include("../templates/navbar.ejs") %>

    <!-- Header -->
    <header class="header header-inverse" style="background-image: url(/public/images/teen-patient.jpg);">
      <div class="overlay" style="background-color: #000; position: absolute; height: 100%; top: 0; right: 0; bottom: 0; left: 0; opacity: 0.7;"></div>
      <div class="container text-center">

        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">
            <h2 class="text-warning">Appointments<!-- Fitness options--> </h2>
            <br>
            <p class="fs-20 opacity-70">"Create new patient appointment".</p>
          </div>
        </div>

      </div>
    </header>
    <!-- END Header -->

    <div class="container py-40">
      	<div class="row">
           	<div class="col-md-12 card py-40 px-40">
             	<div>
             		<h3>Appointment Details <span class="pull-right" style="font-size: 15px;"><a href="/appointments">Back to appointment calendar</a></span></h3><hr>
                <div class="col-md-8">
                  <form action="/appointments/create" method="post">
                    <div class="form-group">
                      <label>Title</label>
                      <input class="form-control" type="text" name="title" required>
                    </div>

                    <div class="form-group">
                      <label>Patient Name | <a href="/patients/create"><u>Create new patient</u></a>
                      </label>
                      <select name="patient" class="form-control">
                        <option style="color: #f2f2f2;" disabled>────────────────────</option>
                        <option value="" disabled class="text-danger" selected>Select Patient</option>
                        <option style="color: #f2f2f2;" disabled>────────────────────</option>
                        <% clients.forEach(function(client){%>
                          <option value="<%= client._id %>"><%= client.name %></option>
                        <%})%>
                      </select>
                    </div>

                    <label>Schedule</label>
                    <div class="form-group form-inline">
                      <div class="input-group" id="eventStart">
                        <input type="text" id="start" name="start" class="form-control" placeholder="Date and time start" required>
                        <div class="input-group-addon">
                          <span class="fa fa-calendar"></span>
                        </div>
                      </div>

                      <div class="input-group" id="eventEnd">
                        <input type="text" id="end" name="end" class="form-control" placeholder="Date and time end" required>
                        <div class="input-group-addon">
                          <span class="fa fa-calendar"></span>
                        </div>
                      </div>
                    </div>
                  
                    <div class="form-group">
                      <label>Description</label>
                      <textarea name="description" rows="5" class="form-control" placeholder="Appointment Description"></textarea>
                    </div>

                    <div>
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <button type="submit" class="btn btn-warning">Add New Appointment</button>
                    </div>
                  </form>
                </div>
                
             	</div>
           	</div>
        </div>
      </div>
    </div>
    <%- include("../templates/footer.ejs") %>
    <script src="/public/javascript/core.min.js"></script>
    <script src="/public/javascript/thesaas.min.js"></script>
    <script src='/public/javascript/fullcalendar/lib/moment.min.js'></script>
    <script src='/public/javascript/fullcalendar/fullcalendar.js'></script>
    <script src="/js/build/jquery.datetimepicker.full.min.js"></script>
  </body>
</html>

